# Dependencies
node_modules/
.pnp
.pnp.*

# Build output
.next/
out/
dist/
build/
.turbo/

# Env files
.env
.env*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and editor files
.DS_Store
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
